// ==========================================================================
// Field
// ==========================================================================

.field {
	width: 100%;
	height: 7rem;
	border-radius: 1rem;
	border: 2px solid var(--c-base);
	padding: 1rem 1.4rem;
	font-family: var(--ff-arial);
	font-size: 1.6rem;
}
