// ==========================================================================
// Footer
// ==========================================================================

.footer {
	background-color: var(--c-base);
	color: var(--c-white);
	padding: 2rem 0;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.01em;
	margin-top: auto;

	@include breakpoint-down(tablet) {
		font-size: 1.2rem;
	}

	.footer__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 2rem;
	}

	p a {
		display: inline-block;
		position: relative;
		text-decoration: none;

		&:hover:before {
			opacity: 0;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--c-white);
			opacity: 0.5;
			transition: opacity var(--t-duration);
		}
	}

	p {
		margin-bottom: 0;
	}

	.footer__separator {
		margin-inline: 0.7rem 0.9rem;
		color: var(--c-white);
	}
}
