<footer class="footer">
	<div class="shell shell--fluid">
		<div class="footer__inner">
			<p>
				Curious how this page was made? Visit
				<a href="https://www.designhuddle.com/" target="_blank"> DesignHuddle.com</a>
				<span class="footer__separator">|</span>
				<!-- /.footer__separator -->
				<a href="https://www.designhuddle.com/features#creative-automation" target="_blank">
					Explore other creative automation examples
				</a>
			</p>
			<a href="https://github.com/designhuddle/freeofficebackgrounds" target="_blank">
				<img src="assets/images/svg/ico-github.svg" width="24" height="24" alt="Github Logo" />
			</a>
		</div>
		<!-- /.footer__inner -->
	</div>
	<!-- /.shell -->
</footer>
<!-- /.footer -->
