<header class="header header--alt">
	<div class="shell shell--fluid">
		<div class="header__inner">
			<a href="/" class="logo header__logo">
				<img src="assets/images/svg/logo-dark.svg" width="240" height="44" alt="logo" />
			</a>
			<!-- /.logo -->

			<div id="header__frame-size" class="header__actions">
				<div class="header__actions-inner">
					<span class="header__actions-label">Frame Size:</span>
					<!-- /.header__actions-label -->

					<ul class="frames">
						<li data-frame-type="horizontal">
							<span class="frames__item"></span>
						</li>

						<li data-frame-type="vertical">
							<span class="frames__item frames__item--4-3"></span>
						</li>

						<li data-frame-type="square">
							<span class="frames__item frames__item--1-1"></span>
						</li>
					</ul>
				</div>
				<!-- /.header__actions-inner -->

				<div id="header__canvas" class="header__actions-inner">
					<span class="header__actions-label">Canvas: </span>
					<!-- /.header__actions-label -->

					<div class="toggle-switch">
						<span>Fit</span>

						<label>
							<input type="checkbox" />

							<div class="toggle__slider"></div>
						</label>

						<span>Fill</span>
					</div>
					<!-- /.toggle-switch -->
				</div>
				<!-- /.header__actions-inner -->

				<div id="header__dark" class="header__actions-inner">
					<div class="checkbox">
						<input type="checkbox" id="dark" />

						<label for="dark">Dark</label>
					</div>
					<!-- /.checkbox -->
				</div>
				<!-- /.header__actions-inner -->
			</div>
			<!-- /.header__actions -->

			<a href="#" id="replace-image" class="btn header__btn">Replace Image</a
			><!-- /.btn -->
		</div>
		<!-- /.header__inner -->
	</div>
	<!-- /.shell -->
</header>
<!-- /.header -->
