<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Office Background for Zoom, Google Meet, or Teams</title>
	<meta property="og:title" content="Office Background for Zoom, Google Meet, or Teams" />
	<meta
		name="description"
		content="Branded office backgrounds for Zoom, Google Meet, or Teams. Upload your logo to instantly generate a gallery of free virtual office background images."
	/>
	<meta />
	<meta
		property="og:description"
		content="Branded office backgrounds for Zoom, Google Meet, or Teams. Upload your logo to instantly generate a gallery of free virtual office background images."
	/>
	<meta property="og:image" content="%VITE_DOMAIN%/assets/images/preview.jpg" />

	<link rel="icon" type="image/png" sizes="any" href="/assets/images/favicon.ico" />
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />

	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({ 'gtm.start': new Date().getTime(), 'event': 'gtm.js' });
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', '%VITE_GOOGLE_ID%');
	</script>
	<!-- End Google Tag Manager -->
</head>
