<div class="popup-alt hidden">
	<a href="#" class="popup__close-btn">
		close
		<img src="assets/images/temp/ico-x@2x.webp" width="22" height="22" alt="" /> </a
	><!-- /.popup__close-btn -->

	<div class="popup__inner">
		<div class="popup__content">
			<a href="#" class="popup__logo">
				<img src="assets/images/svg/fob_powered.svg" width="355" height="60" alt="" /> </a
			><!-- /.popup__logo -->
			<section>
				<p>Your download will start soon!</p>
				<p>
					Click to leave a review on
					<a
						href="https://www.producthunt.com/posts/free-office-backgrounds?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-free&#0045;office&#0045;backgrounds"
						target="_blank"
						>Product Hunt!</a
					>
				</p>

				<a
					href="https://www.producthunt.com/posts/free-office-backgrounds?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-free&#0045;office&#0045;backgrounds"
					target="_blank"
					><img
						src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=466665&theme=light"
						alt="Free&#0032;Office&#0032;Backgrounds - Free&#0032;branded&#0032;virtual&#0032;office&#0032;backgrounds | Product Hunt"
						style="width: 250px; height: 54px"
						width="250"
						height="54"
				/></a>
			</section>

			<section>
				<p>Looking to create a unique design or video experience for your users?</p>
				<p>
					Discover the platform behind this tool at
					<a href="https://www.designhuddle.com/" target="_blank">Design Huddle</a>.
				</p>
			</section>

			<p>
				For details on how it was built, visit our
				<a href="https://github.com/designhuddle/freeofficebackgrounds" target="_blank">GitHub page</a>.
			</p>

			<div class="popup__actions">
				<a href="https://www.designhuddle.com/" class="btn popup__btn">Visit Design Huddle</a
				><!-- /.btn -->
			</div>
			<!-- /.popup__actions -->
		</div>
		<!-- /.popup__content -->

		<figure class="popup__image">
			<a href="https://www.designhuddle.com/" target="_blank" class="popup__image-btn">
				<img src="assets/images/temp/ico-play@2x.webp" width="150" height="150" alt="" />
			</a>

			<img src="assets/images/temp/image@2x.webp" width="1122" height="466" alt="" />
		</figure>
		<!-- /.popup__image -->
	</div>
	<!-- /.popup__inner -->
</div>
