<div class="popup popup__download hidden">
	<div class="popup__overlay"></div>
	<!-- /.popup__overlay -->

	<div class="popup__inner">
		<div class="popup__head">
			<h2>Download</h2>

			<p>
				Download your office background or
				<a href="#">make additional edits</a>.
			</p>
		</div>
		<!-- /.popup__head -->

		<div class="popup__body">
			<figure class="popup__image">
				<img src="assets/images/temp/gallery-image1@2x.webp" width="700" height="397" alt="" />
			</figure>
			<!-- /.popup__image -->
		</div>
		<!-- /.popup__body -->

		<div class="popup__foot">
			<a href="#" class="btn popup__btn">Download HD File</a
			><!-- /.btn -->
		</div>
		<!-- /.popup__foot -->
	</div>
	<!-- /.popup__inner -->
</div>
<!-- /.popup -->
