<div id="canvas-image-position" class="popup hidden">
	<div class="popup__overlay"></div>
	<!-- /.popup__overlay -->
	<div class="popup__inner">
		<div class="popup__head">
			<h2>Frame options</h2>
			<p>How would you like your image positioned within the canvas frame?</p>
		</div>
		<!-- /.popup__head -->
		<div class="popup__body">
			<div class="popup__blocks">
				<div class="popup__block">
					<figure class="popup__block-image">
						<img src="assets/images/temp/image-fit@2x.png" width="139" height="94" alt="" />
					</figure>
					<!-- /.popup__image -->
					<a href="#" class="btn popup__block-btn">Fit</a>
					<!-- /.btn -->
				</div>
				<!-- /.popup__block -->
				<div class="popup__block">
					<figure class="popup__block-image popup__block-image--fill">
						<img src="assets/images/temp/image-fit@2x.png" width="135" height="135" alt="" />
					</figure>
					<!-- /.popup__image -->
					<a href="#" class="btn popup__block-btn">Fill</a>
					<!-- /.btn -->
				</div>
				<!-- /.popup__block -->
			</div>
			<!-- /.popup__blocks -->
		</div>
		<!-- /.popup__body -->
	</div>
	<!-- /.popup__inner -->
</div>
<!-- /.popup -->
