<div id="unsupported-file-type" class="popup hidden">
	<div class="popup__overlay"></div>
	<!-- /.popup__overlay -->
	<div class="popup__inner">
		<div class="popup__head">
			<h2>Unsupported File Type</h2>
			<p>
				Unfortunately, the file type you are trying to upload is not supported. Please visit
				<a href="https://cloudconvert.com" target="_blank">cloudconvert.com</a> to convert your file into a
				compatible format (.JPG, .PNG, or .SVG) and try uploading again.
			</p>
		</div>
		<!-- /.popup__head -->
	</div>
	<!-- /.popup__inner -->
</div>
<!-- /.popup -->
