<div id="unsupported-file-size" class="popup hidden">
	<div class="popup__overlay"></div>
	<!-- /.popup__overlay -->
	<div class="popup__inner">
		<div class="popup__head">
			<h2>Unsupported File Size</h2>
			<p>
				The file you are trying to upload is too large. Please visit
				<a href="https://imageresizer.com" target="_blank">imageresizer.com</a> to downsize the file and then
				try uploading again.
			</p>
		</div>
		<!-- /.popup__head -->
	</div>
	<!-- /.popup__inner -->
</div>
<!-- /.popup -->
